div.calc {
  height: 90vh;
  width: 50vw;
  margin: 5vh 25vw;
}

div.display {
  height: 40%;
  background: #76ed76;
}

div.controls {
  display: flex;
  height: 60%;
  align-items: center;
  flex-wrap: wrap;
}

button {
  width: 25%;
  height: 20%;
}

button.big {
  width: 50%;
}
