body {
  background-color: #fdfcdc;
}

div.calc {
  min-width: 250px;
  border: grey solid;
  aspect-ratio: 3/4;
}
@media screen and (orientation: portrait) {
  div.calc {
    margin: 5vh auto;
    width: 90vw;
  }
}
@media screen and (orientation: landscape) {
  div.calc {
    margin: 5vh auto;
    height: 90vh;
    overflow: hidden;
  }
}

div.display {
  border-radius: 10px 10px 0 0;
  height: 30%;
  background: #f07167;
  color: #fed9b7;
}
p {
  margin: auto 5px 0 auto;
  position: relative;
  text-align: right;
  overflow-wrap: break-word;
  font-size: xx-large;
}

div.controls {
  background-color: #0081a7;
  display: flex;
  height: 70%;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0 0 10px 10px;
}

button {
  width: 23%;
  height: 18%;
  border-radius: 20px;
  font-size: medium;
  background-color: #00afb9;
  margin: 1%;
}

button.big {
  width: 48%;
  border-radius: 20px;
}
